@charset "utf-8";
/* CSS Document */

* {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-family: "맑은 고딕";
  color: #333333;

}
body {
  width: 100%;
  height: 100vh;
  min-width: 1000px; 
  min-height: 820px; 
  background-color: #ffffff;
  font-size: 20px;
}

a {
  text-decoration: none;
  display: block;
}

header{
  float: left;
}

.top{
  float: left;
  width: 200px;
  height: calc(100vh - 100px);
  min-height: 720px;
}

.bodywarp{
  float: right;
  width: calc(100% - 200px);
  height: calc(100vh - 100px);
  min-height: 720px;
}

.contents{
  float: left;
  width: 400px;
  height: 100%;
  background: bisque;
}

.imgslide{
  float: right;
  width: calc(100% - 400px);
  height: 100%;
}

footer{
  float: left;
  width: 100%;
  height: 100px;
}
